<mat-card>
    <mat-card-title>Update Exchange Rate</mat-card-title>
    <mat-card-content>
        <div class="row">
            <mat-form-field>
                <mat-label>Escoge una moneda</mat-label>
                <mat-select [(value)]="currencyFrom" (selectionChange)="changeCurrency(currencyFrom)">
                    <mat-option *ngFor="let currency of currencies" [value]="currency">
                        {{currency.name}} ({{currency.abreviature}})
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field>
                <mat-label>Escoge una moneda</mat-label>
                <mat-select [(value)]="currencyTo" (selectionChange)="changeCurrency(currencyTo)">
                    <mat-option *ngFor="let currency of currencies" [value]="currency">
                        {{currency.name}} ({{currency.abreviature}})
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field>
                <mat-label>Exchange rate</mat-label>
                <input matInput [(ngModel)]='exchangeRate.exchange'>
            </mat-form-field>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button (click)="updateExchangeRate()" mat-button color="primary">Save</button>
    </mat-card-actions>
</mat-card>
<mat-card>
    <div class="row">
        <table mat-table [dataSource]="exchangeRates" class="mat-elevation-z8 demo-table">
        
            <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->
        
            <!-- Position Column -->
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="currencyFrom">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.currencyFrom}} </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="currencyTo">
                <th mat-header-cell *matHeaderCellDef> From </th>
                <td mat-cell *matCellDef="let element"> {{element.currencyTo}} </td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="exchangeRate">
                <th mat-header-cell *matHeaderCellDef> To </th>
                <td mat-cell *matCellDef="let element"> {{element.exchangeRate}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</mat-card>
